#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
#page-content {
  flex-grow: 2;
  max-height: 100%;
}

html {
  height: 100vh;
  /* overflow: scroll; */
}

body {
  background-color: blueviolet;
  color: #f6f4e6;
 }

 .MainBody {
  background-color: green;
  border-radius: 2%;
  color: white;
  /* border-style: solid;
  border-color: white;
  border-width: 3px; */
  flex-wrap: wrap;
 }